<html>
<head>
    <title>AnimeLiker.com</title>
    <script type="text/javascript" src="/media/js/bsn.AutoSuggest_c_2.0.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

    <link rel="stylesheet" href="/media/css/animeliker.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/media/css/autosuggest_inquisitor.css" type="text/css" media="screen" charset="utf-8" />
</head>
<body>

<form action="" method="GET" id="searchform">
<input type="text" name="q" id="q" size="50" value="{{q}}" /> <input type="submit" value="search" />
</form>


<script>
var options = {
	script: "getAnimeNames.py?",
	varname: "q",
	json: true,
	timeout: 30000
};
var as = new AutoSuggest('q', options);
$("#q").keypress(function(event) {
    if (event.keyCode == 13){
        $("#searchform").submit()			   
    }
});
</script>




{% if AnimeList %}
	
	{% for Anime in AnimeList %}
		<h3>
		{{Anime.title}} | {{Anime.similarity}}   
		</h3>
		
		<table>
			<tr>
				<td valign="top"><img src="{{Anime.img}}" /></td>
				<td valign="top" width="100%">
					{{Anime.description}}
					<br />
					<b>Score:</b> {{Anime.score}}<br />
					
					<b>Genres:</b> 
					{% for genre in Anime.genres %}
						{{genre}}
					{% endfor %}
					<br />
					 	
					{% if Anime.altitle %}
					<b>Japan title:</b> {{Anime.jptitle}} 
					<br />
					{% endif %}				
					<br />
					
					<a href="{{Anime.url}}">{{Anime.urldescription}}</a>
				</td>
			</tr>
		</table>
	{% endfor %}

	<h3>
	  {% if page == 0 %} 
	    &#8592; prev
	  {% else %}
	    &#8592; <a href="?q={{q}}&page={{page-1}}"> prev</a>
	  {% endif %}
	    |
	    <a href="?q={{q}}&page={{page+1}}">next</a> &#8594;
	</h3>
{% endif %}




</body>
</html>